body {
	background-color: #d0e4fe;
}

.header {
	width: 100%;
	background-color: #333;
	border-radius: 10px;
}

.header p {
	text-align: center;
	color: #eee;
	line-height: 100px;
	font-weight: bold;
	font-size: 50px;
	text-shadow: 3px 3px 3px red;
	margin: 0.5% 0;
	animation: move 5s infinite;
}

@keyframes move {

	0%,
	100% {
		transform: rotate3d(1, 1, 0, 20deg)
	}

	25% {
		transform: rotate3d(1, -1, 0, 20deg)
	}

	50% {
		transform: rotate3d(-1, -1, 0, 20deg)
	}

	75% {
		transform: rotate3d(-1, 1, 0, 20deg)
	}
}

.main {
	margin: 0.5%;
	overflow: auto;
}

.sidemenu {
	float: left;
	width: 23%;
	margin: 0.5% 1%;
}

.sidemenu a {
	display: block;
	width: 100%;
	color: #000;
	background-color: #ccc;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	padding: 10px 0;
	box-sizing: border-box;
	margin-bottom: 4px;
}

.sidemenu a:hover {
	color: #fff;
	background-color: #666;
}

.sidemenu a:active {
	background-color: #55aa55;
}

.content {
	float: left;
	width: 75%;
	background-color: #eee;
	padding: 1%;
	box-sizing: border-box;
}

.content p {
	text-indent: 2em;
}

.content img {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	max-width: 80%;
}

.title {
	color: #fff;
	text-align: center;
	background-color: #29f;
	border-radius: 10px;
	padding: 15px;
	margin: 0 1%;
}

.footer {
	clear: both;
	width: 100%;
	background-color: #aaa;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
}

.greet {
	position: fixed;
	width: 150px;
	bottom: 50px;
	right: 50px;
}

.greet p {
	font-size: 120%;
	font-weight: bold;
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	transform: translate(-50%, -50%);
}

.greet img {
	width: 100%;
}
